<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-sucess">
                
                        Package Portal
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Package Name</th>
                            <th>Cost</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let package of packagesArray; let sr= index">
                            <td>{{sr}}</td>
                            <td>{{package.packageName}}</td>
                            <td>{{package.packageCost}}</td>
                            <td>{{package.packageDescription}}</td>
                            <td>{{package.isPackageActive}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card header bg-sucess">
                Create Package
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Package Name</label>
                            <input type="text" class="form-control" [(ngModel)]="packageObj" placeholder="Enter">
                        </div>
                        <div class="col-6">
                            <label for="">Cost</label>
                            <input type="text" class="form-control" placeholder="Enter">
                        </div>
                        <div class="col-12">
                            <label for="">Description</label>
                            <textarea name="" class="form-control" rows="3"></textarea>
                            </div>
                        <div class="col-6">
                            <label for="">Is Active</label>
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-6">
                            <button class="btn btn-sm btn-secondary">Reset</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>